body {
  text-align: center;
  margin: 1em;
}

.wrapper {
  display: grid;
  place-items: center;

  /* width: 500px;
  height: 500px */
}

.calculator {
  padding: 2em;
  border: 2px solid black;
}

.separation {
  margin-top: 1em;
}

h1, p  {
  font-family: 'Roboto', sans-serif;
}

span {
  color: red;
} 